* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  text-align: center;
  width: 60%;
  margin: 4rem auto;
  padding: 0 4rem;
  border: 2px solid black;
  border-radius: 6px;
}
